body {
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
}

.agent {
	padding: 1.5em;
	float: left;
	margin: 1em;
	width: 20em;
	background-color: #eeeeee;
}

.card {
	padding: 1.5em;
	float: left;
	display: inline;
	margin: 1em;
	width: 20em;
	background-color: #eeeeee;
}

.data {
	margin-left: 0.5em;
}

.name {
	font-weight: bold;
}

table {
	width: 100%;
	dborder: 1px solid red;
}


